
<blockquote class="blockquote alert-secondary">
  <p><%= @ask %></p>
  <em>- You</em>
</blockquote>

<blockquote class="blockquote alert-warning">
  <p><%= @answer %></p>
  <em>- Stupid coach</em>
</blockquote>

<p>👉 Back to <%= link_to "Ask a new question", root_path %></p>
