<p>Write your question</p>

<form class="row g-3" action="/answer" data-turbo="false">

  <div class="col-auto">
    <input type="text" name="question" class="form-control">
  </div>
  <div class="col-auto">
    <input type="submit" value="Ask!" class="btn btn-primary mb-3">
  </div>
  
</form>
